# IDE folders
.vs/
.vscode/

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# OneDrive conflict files
* - Copy.*
*conflict*

# Build artifacts (if any)
dist/
build/

# requries node to run
allCards.js

.env